body{
    padding: 0;
    margin: 0;
    background: #210F37;
}


/* MAIN CONTENT */
h1 {
    font-size: 3em;
    color: #A55B4B ;
    text-shadow: 2px 2px 5px #4F1C51;
}

h2 {
    color: #A55B4B;
    text-shadow: 2px 2px 5px #4F1C51;
}

h3 {
    color: #DCA06D;
    text-shadow: 2px 2px 5px #210F37;
}

p {
    color: #DCA06D;
    text-shadow: 2px 2px 5px #A55B4B;
}


/* ====== Review Page ========= */
.Long_Legs img{
    height: 450px;
    width: 300px;
    border: 5px solid #DCA06D;
    box-shadow: 0 0 20px #A55B4B ;
}

.A_Quiet_Place img {
    height: 450px;
    width: 300px;
    border: 5px solid #DCA06D;
    box-shadow: 0 0 20px #A55B4B ;
}

.The_Village img{
    height: 450px;
    width: 300px;
    border: 5px solid #DCA06D;
    box-shadow: 0 0 20px #A55B4B ;
}

.A_Nightmare_on_Elm_Street img {
    height: 450px;
    width: 300px;
    border: 5px solid #DCA06D;
    box-shadow: 0 0 20px #A55B4B ;
}

.IT img {
    height: 450px;
    width: 300px;
    border: 5px solid #DCA06D;
    box-shadow: 0 0 20px #A55B4B ;
}

.The_Descent img {
    height: 450px;
    width: 300px;
    border: 5px solid #DCA06D;
    box-shadow: 0 0 20px #A55B4B ;
}

.Alian_Vs_Predator img {
    height: 450px;
    width: 300px;
    border: 5px solid #DCA06D;
    box-shadow: 0 0 20px #A55B4B ;
}

.Weapons img {
    height: 450px;
    width: 300px;
    border: 5px solid #DCA06D;
    box-shadow: 0 0 20px #A55B4B ;
}

.The_Long_Walk img {
    height: 450px;
    width: 300px;
    border: 5px solid #DCA06D;
    box-shadow: 0 0 20px #A55B4B ;
}

/* ====== Footer ========= */
footer {
    background: #A55B4B;
    margin: 20px auto;
    width: 90%;
    max-width: 900px;
    text-align: center;
    padding: 15px;
    border: 5px solid #DCA06D;
    border-radius: 20px;
    box-shadow: 0 0 20px #210F37 ;
    color: #A55B4B;
    text-shadow: 1px 1px 3px #4F1C51 ;
}
